// Variables

@import './vars/vars-colors';
@import './vars/vars-typography';
@import './vars/vars-mediaqueries';

.title {
    color: red;
    font-family: 'Vecna';
    font-size: $font-size-md-xxl;
}